{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Plugin Key Generator plugin for Craft CMS
 *
 * PluginKeyGeneratorUtility Utility Content
 *
 * @author    Brilliance
 * @copyright Copyright (c) 2022 Brilliance
 * @link      https://www.brilliancenw.com/
 * @package   PluginKeyGenerator
 * @since     3.0.0
 */
#}

<h1>PluginKeyGeneratorUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@brilliance/pluginkeygenerator/assetbundles/pluginkeygeneratorutilityutility/dist', true) ~ '/img/PluginKeyGeneratorUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>